<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/view.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
    <script src="home-controller.js"></script>
    <script src="js/functional.js"></script>
</head>

<body ng-app="myApp">

<div class="container" ng-controller="homeController">

    <!------------------------------------------------------------------ START HEADER ---------------------------------------------------------------------->
    <div class="b-header" ng-include src="'components/header.html'"></div>
    <!------------------------------------------------------------------ END HEADER ---------------------------------------------------------------------->



    <!------------------------------------------------------------------ START MENU ---------------------------------------------------------------------->
    <div class="b-menu">
        <div ng-repeat="item in items" style="width: 16.5%; font-size: 20px">
            <strong>{{item}}</strong>
        </div>
    </div>

    <div class="b-sub-menu">
        <div ng-repeat="subname in subnames">
            <a href="" style="text-decoration: underline"> {{subname}} <span class="glyphicon glyphicon-menu-right sub-link"></span></a>
        </div>
    </div>
    <!------------------------------------------------------------------ END MENU ---------------------------------------------------------------------->



    <!--------------------------------------------------------------- START VIEW ------------------------------------------------------------------------>
    <div class="b-view" ng-include src="'components/view.html'"></div>
    <!--------------------------------------------------------------- END VIEW ------------------------------------------------------------------------>


</div>



<!--------------------------------------------------------------- START POPUP ------------------------------------------------------------------------>
<div class="b-popup" id="modal-window" style="visibility: hidden">
    <div class="b-popup-content">
        <p onclick="closeModal()" style="float: right">X close</p>
        <p>Таблица размеров</p>
    </div>
</div>
<!--------------------------------------------------------------- END POPUP ------------------------------------------------------------------------>

</body>
</html>