<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="styles.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
    <script src="home-controller.js"></script>
</head>
<body ng-app="myApp">
<div class="container" ng-controller="homeController">

    <!------------------------------------------------------------------ START HEADER ---------------------------------------------------------------------->
    <div class="header">
        <div class="logo"></div>

        <div style="width: 15%; padding: 2%;">
            <span>8 (800) 654 33 73</span></br>
            <span> Бесплатно по России </span>
        </div>

        <div style="width: 30%;float: right; padding: 2%;">
            <div style="float: right">
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-heart" style="font-size:35px; color: black"></span>
                </button>
            </div>

            <div style="float: right">
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-shopping-cart" style="font-size:35px; color: black"></span>
                </button>
                0 р
            </div>
        </div>

        <div style="width: 20%; padding: 2%;">
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-user" style="font-size:35px; color: black"></span>
            </button>
            Войти
        </div>

    </div>
    <!------------------------------------------------------------------ END HEADER ---------------------------------------------------------------------->


    <div style="display:flex; width: 100%;  background-color: #dedede;  padding: 2%; margin-top: 2%;">
        <div ng-repeat="item in items" style="width: 10%;">
            {{item}}
        </div>
    </div>

    <div style="display:flex; width: 30%;  margin-top: 1%; float: left;">
        <div>
            <a href="">Главная > </a>
        </div>
        <div>
            <a href=""> Женское > </a>
        </div>
        <div>
            <a href=""> Обувь > </a>
        </div>
        <div>
            <a href=""> Босоножки</a>
        </div>


    </div>


    <!--------------------------------------------------------------- START VIEW ------------------------------------------------------------------------>

    <div style="margin-top: 10%; display: flex">
        <div style="display: inline-block;">
            <img src="images/pic1.jpg" style="width: 20%; height: 25%; display: block; margin-bottom: 2%"
                 ng-click="changeImage($event)">
            <img src="images/pic2.jpg" style="width: 20%; height: 25%; display: block; margin-bottom: 2%"
                 ng-click="changeImage($event)">
            <img src="images/pic3.jpg" style="width: 20%; height: 25%; display: block; margin-bottom: 2%"
                 ng-click="changeImage($event)">
        </div>
        <div>
            <div style="width: 190px; height: 300px; background-color: grey;"></div>
        </div>
        <div>
            <p>sdasdasdsd</p>
        </div>
    </div>


</div>
</body>
</html>