.container {
    width: 85%;
    margin: auto;
    padding-top: 20px;
}

.header {
    display: flex;
    width: 100%;
}

.logo {
    width: 190px;
    height: 100px;
    background-color: #dedede;
}

.shoesPic {
    width: 65px;
    height: 83px;
    display: block;
    margin-bottom: 2%;
}