<div class="logo"></div>

<div style="width: 15%; padding: 2%;">
    <span>8 (800) 654 33 73</span></br>
    <span> Бесплатно по России </span>
</div>

<div class="icon-block1">
    <div style="float: right" ng-click="shopActive()">
        <div class="value-shop">0</div>
        <span class="glyphicon glyphicon-shopping-cart shop-icon"></span>
        <span class="shop-cost"><strong>0</strong> р</span>
    </div>

    <div style="float: right; margin-right: 25px;">
        <span class="glyphicon glyphicon-heart black-icon"></span>
    </div>

</div>

<div class="icon-block2">
    <div style="float: right">
        <span class="glyphicon glyphicon-user black-icon"></span>
        <a href="">Войти</a>
    </div>
</div>